{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
{% endblock %}
{% block body %}
	<div class="container">
        <div class="header clearfix">
            <h1 class="text-muted">Lycée du Parc de Vilegénis</h1>
        </div>
    
        <!--<div class="jumbotron">-->
            <div class="header clearfix">
                <h1 class="text-muted">Gestion des partenaires</h1>
            </div>

			<a href="{{ path('administration_inscription_d_un_partenaire') }}" class="btn btn-primary">Ajout</a>	
			<a href="{{ path('accueil') }}" class="btn btn-warning">Retour</a>

			<hr>

			<table id="table_id" class="display">
        		<thead>
            		<tr>
              			<th>ID</th>
				      	<th>SIRET</th>
				      	<th>Nom</th>
				      	<th>Tél</th>
				      	<th>Email</th>
				      	<th>Adresse</th>
				      	<th>Ville</th>
				      	<th>Code Postal</th>
				      	<th>Date d'ajout</th>
				      	<th>Modifier</th>
				      	<th>Supprimer</th>
            		</tr>
        		</thead>
        		<tbody>
          			{% for partenaire in partenaires %}
				    	<tr>
				      		<td>{{ partenaire.id }}</td>
				      		<td>{{ partenaire.siret }}</td>
				      		<td>{{ partenaire.nom }}</td>
				      		<td>{{ partenaire.telephone }}</td>
				      		<td>{{ partenaire.email }}</td>
				      		<td>{{ partenaire.adresse }}</td>
				      		<td>{{ partenaire.ville }}</td>
				      		<td>{{ partenaire.codepostal }}</td>
				      		<td>{{ partenaire.dateajout|date('Y-m-d') }}</td>
				      		<td>
				      			<form method="POST">
					    			<input type="text" hidden="hidden" name="id" value="{{ partenaire.id }}">
				      				<input type="submit" name="modifier" class="btn btn-secondary btn-sm" value="Modifier">
				      			</form>
				      		</td>
				      		<td>
				      			<form method="POST">
					    			<input type="text" hidden="hidden" name="id" value="{{ partenaire.id }}">
				      				<input type="submit" name="supprimer" class="btn btn-danger btn-sm" value="Supprimer">
				      			</form>
				      		</td>
				    	</tr>
				    {% endfor %}
        		</tbody>
      		</table>
		<!--</div>-->

		<hr>

		<footer>
            <p>Copyright &copy; Cheik-Siramakan Keita 2018-{{ "now"|date('Y') }}</p>
        </footer>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
    	$(document).ready( function () {
      		$('#table_id').DataTable();
    	});
  	</script>
  	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
{% endblock %}