{% extends 'default/index.html.twig' %}

{% block title %}Gestion des partenaires{% endblock %}

{% block body %}
	<a href="{{ path('inscription_des_partenaires') }}" class="btn btn-primary">Ajout</a>	
    <a href="{{ path('accueil') }}" class="btn btn-warning">Retour</a>

    <table class="table">
  		<thead>
	    	<tr>
		      	<th scope="col">ID</th>
		      	<th scope="col">SIET</th>
		      	<th scope="col">Nom</th>
		      	<th scope="col">Tél</th>
		      	<th scope="col">Email</th>
		      	<th scope="col">Adresse</th>
		      	<th scope="col">Ville</th>
		      	<th scope="col">Code Postal</th>
		      	<th scope="col">Date d'ajout</th>
	    	</tr>
  		</thead>
	  	<tbody>
	  		{% for partenaire in partenaires %}
		    		<tr>
	      				<th scope="row">{{ partenaire.id }}</th>
	      				<td>{{ partenaire.siret }}</td>
	      				<td>{{ partenaire.nom }}</td>
	      				<td>0{{ partenaire.telephone }}</td>
	      				<td>{{ partenaire.email }}</td>
	      				<td>{{ partenaire.adresse }}</td>
	      				<td>{{ partenaire.ville }}</td>
	      				<td>{{ partenaire.codepostal }}</td>
	      				<td>{{ partenaire.dateajout|date('Y-m-d') }}</td>
	    			</tr>
		    {% endfor %}
	  	</tbody>
	</table>
{% endblock %}