<!DOCTYPE html>
<html lang="fr">
	<head>
    	<meta charset="utf-8">
    	<title>
    		{% block title %}
    			{% if app.request.get('_route') == 'inscription_des_administrateurs' %}
    				Inscription des administrateurs
				{% elseif app.request.get('_route') == 'inscription_des_jeunes' %}
    				Inscription des jeunes
    			{% elseif app.request.get('_route') == 'inscription_des_partenaires' %}
    				Inscription des partenaires
				{% endif %}
			{% endblock %}
    	</title>

    	<!-- CSS -->
    	<style type="text/css">
    		input { 
    			text-align: center; 
			}
    	</style>
  	</head>

  	<body>
    	{% block body %}
        	<h1>
        		{% if app.request.get('_route') == 'administrateur_inscription' %}
    				Inscription des administrateurs
				{% elseif app.request.get('_route') == 'jeune_inscription' %}
    				Inscription des jeunes
    			{% elseif app.request.get('_route') == 'partenaire_inscription'%}
    				Inscription des partenaires
				{% endif %}
        	</h1>
        	{% if (app.request.get('_route') == 'administrateur_inscription') or (app.request.get('_route') == 'jeune_inscription') %}
		        {{ form_start(registrationForm) }}
		          	{{ form_widget(registrationForm.nom) }}
		            {{ form_widget(registrationForm.prenom ) }}
		            {{ form_widget(registrationForm.motdepasse, {'attr': {'placeholder': 'Mot de passe'}} ) }}
		            {{ form_widget(registrationForm.telephone ) }}
				    {{ form_widget(registrationForm.email ) }}
				    {{ form_widget(registrationForm.adresse ) }}
				    {{ form_widget(registrationForm.ville ) }}
				    {{ form_widget(registrationForm.codepostal ) }}
				    {{ form_widget(registrationForm.inscription) }}

				    {% if app.request.get('_route') == 'jeune_inscription' %}
				         <a href="{{ path('jeune_gestion') }}">Retour</a>
				    {% endif %}

					{% if app.request.get('_route') == 'administrateur_inscription' %}
				        <a href="{{ path('administrateur_gestion') }}">Retour</a>
				    {% endif %}
		       	{{ form_end(registrationForm) }}
		    {% elseif app.request.get('_route') == 'partenaire_inscription'%}
		    	{{ form_start(registrationForm) }}
		    		{{ form_widget(registrationForm.siret) }}
		        	{{ form_widget(registrationForm.nom) }}
		        	{{ form_widget(registrationForm.motdepasse, {'attr': {'placeholder': 'Mot de passe'}} ) }}
		        	{{ form_widget(registrationForm.telephone) }}
					{{ form_widget(registrationForm.email) }}
					{{ form_widget(registrationForm.adresse) }}
					{{ form_widget(registrationForm.ville) }}
					{{ form_widget(registrationForm.codepostal) }}
					{{ form_widget(registrationForm.inscription) }}
					<a href="{{ path('partenaire_gestion') }}">Retour</a>
				{{ form_end(registrationForm) }}
		    {% endif %}
	    {% endblock %}

      	<footer>
        	<p>&copy; Cheik-Siramakan Keita 2018-{{ "now"|date('Y') }}</p>
      	</footer>

    	<!-- Scripts -->
  	</body>
</html>