{% extends 'default/accueil.html.twig' %}
{% block title %}
    {% if app.request.get('_route') == 'administration_inscription_d_un_administrateur' %}
    	Inscription des administrateurs
	{% elseif app.request.get('_route') == 'administration_inscription_d_un_jeune' %}
    	Inscription des jeunes
    {% elseif app.request.get('_route') == 'partenaire_inscription' %}
    	Inscription des partenaires
	{% endif %}
{% endblock %}
{% block heading %}
	{% if app.request.get('_route') == 'administration_inscription_d_un_administrateur' %}
    	Inscription des administrateurs
	{% elseif app.request.get('_route') == 'administration_inscription_d_un_jeune' %}
    	Inscription des jeunes
    {% elseif app.request.get('_route') == 'partenaire_inscription'%}
    	Inscription des partenaires
	{% endif %}
{% endblock %}
{% block body %}
    {% if (app.request.get('_route') == 'administration_inscription_d_un_administrateur') or (app.request.get('_route') == 'administration_inscription_d_un_jeune') %}
		{{ form_start(registrationForm) }}
		    <div class="form-group">
		        <label>Nom</label>
		        {{ form_widget(registrationForm.nom, {'attr' : {'class' : 'form-control'}}) }}
		    </div>

		    <div class="form-group">
		        <label>Prénom</label>
		        {{ form_widget(registrationForm.prenom, {'attr' : {'class' : 'form-control' }}) }}
		    </div>

		    <div class="form-group">
		        <label>Mot de passe</label>
		        {{ form_widget(registrationForm.motdepasse, {'attr': {'placeholder': 'Mot de passe', 'class': 'form-control'}}) }}
		    </div>

		    <div class="form-group">
		       	<label>Téléphone</label>
		        {{ form_widget(registrationForm.telephone, {'attr': {'placeholder': 'Téléphone', 'class': 'form-control'}}) }}
		    </div>

		    <div class="form-group">
		        <label>Email</label>
				{{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Email', 'class': 'form-control' }}) }}
			</div>

			<div class="form-group">
		        <label>Adresse</label>
				{{ form_widget(registrationForm.adresse, {'attr': {'placeholder': 'Adresse', 'class': 'form-control' }}) }}
			</div>

			<div class="form-group">
		        <label>Ville</label>
				{{ form_widget(registrationForm.ville, {'attr': {'placeholder': 'Ville', 'class': 'form-control' }}) }}
			</div>

			<div class="form-group">
		        <label>Code postal</label>
				{{ form_widget(registrationForm.codepostal, {'attr': {'placeholder': 'Code postal', 'class': 'form-control' }}) }}
			</div>

			{% if (app.request.get('_route') == 'administration_inscription_d_un_administrateur') and (is_granted('ROLE_SUPER_ADMINISTRATEUR')) %}
				<div class="form-check">
				  <input class="form-check-input" type="checkbox" value="ROLE_SUPER_ADMINISTRATEUR" name="super_admin" id="super_admin">
				  <label class="form-check-label" for="super_admin">
				    Super Administrateur
				  </label>
				</div>
			{% endif %}

			{{ form_widget(registrationForm.inscription, {'attr': {'class': 'btn btn-primary' }}) }}
		{{ form_end(registrationForm) }}
	{% elseif app.request.get('_route') == 'partenaire_inscription'%}
		{{ form_start(registrationForm) }}
			 <div class="form-group">
                <label>SIRET</label>
                {{ form_widget(registrationForm.siret, {'attr': {'placeholder': 'SIRET', 'class' : 'form-control'}}) }}
            </div>

            <div class="form-group">
                <label>Nom</label>
                {{ form_widget(registrationForm.nom, {'attr': {'placeholder': 'Nom', 'class' : 'form-control'}}) }}
            </div>                  

            <div class="form-group">
                <label>Mot de passe</label>
                {{ form_widget(registrationForm.motdepasse, {'attr': {'placeholder': 'Mot de passe', 'class' : 'form-control'}}) }}
            </div>

            <div class="form-group">
                <label>Téléphone</label>
                {{ form_widget(registrationForm.telephone, {'attr': {'placeholder': 'Telephone', 'class' : 'form-control'}}) }}
            </div>

            <div class="form-group">
                <label>Email</label>
                {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Email', 'class' : 'form-control'}}) }}
            </div>

            <div class="form-group">
                <label>Adresseadresse</label>
                {{ form_widget(registrationForm.adresse, {'attr': {'placeholder': 'Adresse', 'class' : 'form-control'}}) }}
            </div>

            <div class="form-group">
                <label>Ville</label>
                {{ form_widget(registrationForm.ville, {'attr': {'placeholder': 'Ville', 'class' : 'form-control'}}) }}
            </div>

            <div class="form-group">
                <label>Code postal</label>
                {{ form_widget(registrationForm.codepostal, {'attr': {'placeholder': 'Code Postal', 'class' : 'form-control'}}) }}
            </div>

            {{ form_widget(registrationForm.inscription, {'attr': {'class': 'btn btn-primary'}}) }}
		{{ form_end(registrationForm) }}
	{% endif %}
{% endblock %}