{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
{% endblock %}
{% block body %}
	<div class="container">
        <div class="header clearfix">
            <h1 class="text-muted">Lycée du Parc de Vilegénis</h1>
        </div>
    
        <!--<div class="jumbotron">-->
            <div class="header clearfix">
                <h1 class="text-muted">Gestion des candidatures</h1>
            </div>

		    <table id="table_id" class="display">
        		<thead>
            		<tr>
              			<th>ID</th>
				      	<th>Offre</th>
				      	<th>Entreprise</th>
				      	<th>Début</th>
				      	<th>Fin</th>
				      	<th>Status</th>
				      	<th>Date d'ajout</th>
				      	<th>Annulation</th>
            		</tr>
        		</thead>
        		<tbody>
          			{% for candidature in candidatures %}
					    <tr>
				      		<td>{{ candidature.id }}</td>
				      		<td>{{ candidature.libelle }}</td>
				      		<td>{{ candidature.nom }}</td>
				      		<td>{{ candidature.debut|date('d-m-Y') }}</td>
				      		<td>{{ candidature.fin|date('d-m-Y') }}</td>
				      		{% if candidature.status == 0 %}
				      			<td>Refusé</td>
				      		{% elseif candidature.status == 1 %}
				      			<td>Accepté</td>
				      		{% elseif candidature.status == 2 %}
				      			<td>En attente</td>
				      		{% endif %}
				      		<td>{{ candidature.dateajout|date('d-m-Y') }}</td>
				      		<td>
				      			<form method="POST">
				  					<input type="text" hidden="hidden" name="id" value="{{ candidature.id }}">
				      				<input type="submit" name="annuler" value="Annuler" class="btn btn-danger btn-lg btn-block">
				      			</form>
				      		</td>
				    	</tr>
					{% endfor %}
        		</tbody>
      		</table>
		<!--</div>-->

		<hr>

		<footer>
            <p>Copyright &copy; Cheik-Siramakan Keita 2018-{{ "now"|date('Y') }}</p>
        </footer>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
    	$(document).ready( function () {
      		$('#table_id').DataTable();
    	} 	);
  </script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
{% endblock %}