{% extends 'default/accueil.html.twig' %}

{% block title %}Gestion des partenaires{% endblock %}

{% block titre %}Gestion des partenaires{% endblock %}

{% block body %}
	<a href="{{ path('partenaire_inscription') }}" class="btn btn-primary">Ajout</a>	

    <table class="table">
  		<thead>
	    	<tr>
		      	<th scope="col">ID</th>
		      	<th scope="col">SIRET</th>
		      	<th scope="col">Nom</th>
		      	<th scope="col">Tél</th>
		      	<th scope="col">Email</th>
		      	<th scope="col">Adresse</th>
		      	<th scope="col">Ville</th>
		      	<th scope="col">Code Postal</th>
		      	<th scope="col">Date d'ajout</th>
	    	</tr>
  		</thead>
	  	<tbody>
	  		{% for partenaire in partenaires %}
		    		<form method="POST">
			    		<input type="text" hidden="hidden" name="id" value="{{ partenaire.id }}">
			    		<tr>
		      				<th scope="row">{{ partenaire.id }}</th>
		      				<td>{{ partenaire.siret }}</td>
		      				<td>{{ partenaire.nom }}</td>
		      				<td>0{{ partenaire.telephone }}</td>
		      				<td>{{ partenaire.email }}</td>
		      				<td>{{ partenaire.adresse }}</td>
		      				<td>{{ partenaire.ville }}</td>
		      				<td>{{ partenaire.codepostal }}</td>
		      				<td>{{ partenaire.dateajout|date('Y-m-d') }}</td>
		      				<td><input type="submit" name="modifier" class="btn btn-secondary btn-sm" value="Modifier"></td>
		      				<td><input type="submit" name="supprimer" class="btn btn-danger btn-sm" value="Supprimer"></td>
		    			</tr>
		    		</form>
		    {% endfor %}
	  	</tbody>
	</table>
{% endblock %}