{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
	<div class="container">
        <div class="header clearfix">
            <h1 class="text-muted">Lycée du Parc de Vilegénis</h1>
        </div>
    
        <div class="jumbotron">
            <div class="header clearfix">
                <h1 class="text-muted">Gestion des offres</h1>
            </div>
            <a href="{{ path('offre_ajout') }}" class="btn btn-primary">Ajout</a>
		    <a href="{{ path('accueil') }}" class="btn btn-warning">Retour</a>

		    <table class="table">
		  		<thead>
			    	<tr>
				      	<th scope="col">ID</th>
				      	<th scope="col">Entreprise</th>
				      	<th scope="col">Formation</th>
				      	<th scope="col">Nom</th>
				      	<th scope="col">Debut</th>
				      	<th scope="col">Fin</th>
				      	<th scope="col">Date d'ajout</th>
				      	<th scope="col">Modifier</th>
				      	<th scope="col">Supprimer</th>
			    	</tr>
		  		</thead>
			  	<tbody>
			  		{% for offre in offres %}
			  			<form method="POST">
			  				<input type="text" hidden="hidden" name="id" value="{{ offre.id }}">
				    		<tr>
			      				<th scope="row">{{ offre.id }}</th>
			      				<td>{{ offre.nomU }}</td>
			      				<td>{{ offre.nomF }}</td>
			      				<td>{{ offre.libelle }}</td>
			      				<td>{{ offre.debut|date('Y-m-d') }}</td>
			      				<td>{{ offre.fin|date('Y-m-d') }}</td>
			      				<td>{{ offre.dateajout|date('Y-m-d') }}</td>
			      				<td><input type="submit" name="modifier" class="btn btn-secondary btn-sm" value="Modifier"></td>
				      			<td><input type="submit" name="supprimer" class="btn btn-danger btn-sm" value="Supprimer"></td>
			    			</tr>
			    		</form>
				    {% endfor %}
			  	</tbody>
			</table>
		</div>

		<footer>
            <p>Copyright &copy; Cheik-Siramakan Keita 2018-{{ "now"|date('Y') }}</p>
        </footer>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}