{% extends 'administrateur/modification.html.twig' %}

{% block title %}Modification des informations partenaire{% endblock %}

{% block titre %}Modification des informations partenaire{% endblock %}

{% block body %}
	{{ form_start(form) }}
		{{ form_widget(form.siret, {'attr': {'placeholder': partenaire.siret}}) }}
		{{ form_widget(form.nom, {'attr': {'placeholder': partenaire.nom}}) }}
		{% if is_granted('ROLE_PARTENAIRE') %}
			{{ form_widget(form.motdepasse, {'attr': {'placeholder': 'Mot de passe'}} ) }}
		{% endif %}
		{{ form_widget(form.telephone, {'attr': {'placeholder': partenaire.telephone}}) }}
		{{ form_widget(form.email, {'attr': {'placeholder': partenaire.email}}) }}
		{{ form_widget(form.adresse, {'attr': {'placeholder': partenaire.adresse}}) }}
		{{ form_widget(form.ville, {'attr': {'placeholder': partenaire.ville}}) }}
		{{ form_widget(form.codepostal, {'attr': {'placeholder': partenaire.codepostal}}) }}
		{{ form_widget(form.inscription, {'attr': {'placeholder': 'Modifier'}}) }}
	{{ form_end(form) }}
	<a href="{{ path('partenaire_gestion') }}">Retour</a>
{% endblock %}