{% extends 'default/accueil.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<style>
		/* Always set the map height explicitly to define the size of the div
	    * element that contains the map. */
	    #map {
	    	height: 600px;
	    }
	    /* Optional: Makes the sample page fill the window. */
	    html, body {
	        height: 100%;
	        margin: 0;
	    	padding: 0;
	    }
	</style>
{% endblock %}
{% block scripts %}
	<script>
    var geocoder;
    var address = "{{ offre.adresse }}";
		var map;
	  function initMap() {
	    map = new google.maps.Map(document.getElementById('map'), {
	       center: {lat: 48.864716, lng: 2.349014},
	         zoom: 12
	    });

      geocoder = new google.maps.Geocoder();
      codeAddress(geocoder, map);
	  }

    function codeAddress(geocoder, map) {
      -geocoder.geocode({'address': address}, function(results, status) {
        if (status === 'OK') {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
	</script>
{% endblock %}
{% block body %}
  <div class="container">
    <div class="header clearfix">
        <h1 class="text-muted">Lycée du Parc de Vilegénis</h1>
    </div>

    <div id="map"></div><br>
    <div class="jumbotron">
      <div class="header clearfix">
        <h1 class="text-muted">{{ offre.libelle }}</h1>
      </div>
    	
      <h2 class="text-muted">Description</h2>
      <hr>
      <p align="left">
        {{ offre.description }}
      </p>

      <p align="left">
        <b><u>Formation</u>: </b> {{ formation.nom }}
      </p>

      <p align="left">
        <b><u>Entreprise</u>: </b> {{ partenaire.nom }}
      </p>

      <p align="left">
        <b><u>Adresse</u>: </b>{{ offre.adresse }}
      </p>

      <p align="left">
        <b><u>Début</u>: </b> {{ offre.debut|date('d-m-Y') }}
      </p>

      <p align="left">
        <b><u>Fin</u>: </b> {{ offre.fin|date('d-m-Y') }}
      </p>

      <p align="left">
        <b><u>Date d'ajout</u>: </b> {{ offre.dateajout|date('d-m-Y') }}
      </p>

      <br>

      <form method="POST">
        {% if is_granted('ROLE_JEUNE') %}
          <td><input type="submit" name="candidature" class="btn btn-secondary" value="Déposer une candidature"></td>
        {% endif %}
      </form>
    </div>

      <footer>
        <p>Copyright &copy; Cheik-Siramakan Keita 2018-{{ "now"|date('Y') }}</p>
      </footer>
  </div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSWaHpZ1NPnlUJC6OE45NqHJVwGOHwhmc&callback=initMap"async defer></script>
{% endblock %}