{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block stylesheets %}
	{{ parent() }}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
{% endblock %}
{% block body %}
  <div class="container">
    <div class="header clearfix">
      <h1 class="text-muted">Lycée du Parc de Vilegénis</h1>
    </div>
    
    <!--<div class="jumbotron">-->
      <div class="header clearfix">
        <h1 class="text-muted">Offres</h1>
      </div>

      <table id="table_id" class="display">
        <thead>
            <tr>
              <th>ID</th>
              <th>Entreprise</th>
              <th>Formation</th>
              <th>Nom</th>
              <th>Debut</th>
              <th>Fin</th>
              <th>Date d'ajout</th>
              {% if is_granted('ROLE_JEUNE') %}
                <th>Candidature</th>
              {% endif %}
              <th>Detail</th>
            </tr>
        </thead>
        <tbody>
          {% for offre in offres %}
            <tr>
              <th>{{ offre.id }}</th>
              <td>{{ offre.nompartenaire }}</td>
              <td>{{ offre.nomformation }}</td>
              <td>{{ offre.libelle }}</td>
              <td>{{ offre.debut|date('d-m-Y') }}</td>
              <td>{{ offre.fin|date('d-m-Y') }}</td>
              <td>{{ offre.dateajout|date('d-m-Y') }}</td>
              {% if is_granted('ROLE_JEUNE') %}
                <td>
                  <form method="POST">
                    <input type="text" hidden="hidden" name="idoffre" value="{{ offre.id }}">
                    <input type="submit" name="candidature" class="btn btn-secondary btn-lg btn-block" value="Déposer">
                  </form>
                </td>
              {% endif %}
              <td>
                <form method="POST">
                  <input type="text" hidden="hidden" name="idoffre" value="{{ offre.id }}">
                  <input type="submit" name="detail" class="btn btn-secondary btn-lg btn-block" value="Detail">
                </form>
                </td>
              </tr>
            </form>
          {% endfor %}
        </tbody>
      </table>
    <!--</div>-->

      <hr>

    <footer>
      <p>Copyright &copy; Cheik-Siramakan Keita 2018-{{ "now"|date('Y') }}</p>
    </footer>
  </div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
  <script>
    $(document).ready( function () {
      $('#table_id').DataTable();
    } );
  </script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
{% endblock %}