{% extends 'default/accueil.html.twig' %}

{% block title %}Offres{% endblock %}

{% block titre %}Offres{% endblock %}

{% block body %}	
    <a href="{{ path('accueil') }}" class="btn btn-warning">Retour</a>

    <table class="table">
  		<thead>
	    	<tr>
		      	<th scope="col">ID</th>
		      	<th scope="col">Entreprise</th>
		      	<th scope="col">Formation</th>
		      	<th scope="col">Nom</th>
		      	<th scope="col">Debut</th>
		      	<th scope="col">Fin</th>
		      	<th scope="col">Date d'ajout</th>
	    	</tr>
  		</thead>
	  	<tbody>
	  		{% for offre in offres %}
		    		<tr>
	      				<th scope="row">{{ offre.id }}</th>
	      				<td>{{ offre.nomU }}</td>
	      				<td>{{ offre.nomF }}</td>
	      				<td>{{ offre.nomO }}</td>
	      				<td>{{ offre.debut|date('Y-m-d') }}</td>
	      				<td>{{ offre.fin|date('Y-m-d') }}</td>
	      				<td>{{ offre.dateajout|date('d-m-Y') }}</td>
	    			</tr>
		    {% endfor %}
	  	</tbody>
	</table>
{% endblock %}